@font-face {
    font-family: 'yekan';
    src: url('fonts/lmu_yekan-webfont.eot?') format('eot'),
    url('fonts/lmu_yekan-webfont.woff') format('woff'),
    url('fonts/lmu_yekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.menu-top{
    font-family: 'yekan';
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.teamwork{
    padding-right: 0px;
    padding-left: 0px;
    background-attachment: fixed !important;
    background: url("../img/teamwork.jpg");
}
.header-bg{
    background: url("../img/bg.jpg");
    background-attachment: fixed !important;
    background-repeat: round !important;
}
@media screen and (min-width: 1200px) {
    .header-bg{height: 700px !important;}
}

.text-justif{
    text-align: justify !important;
}
.yekan{
    font-family: 'yekan';
}
.teamwork-text{
    line-height: 2.2em;
}